{% extends "base.html" %}
{% block content %}

<div class="max-w-md mx-auto mt-10 p-6 bg-base-100 text-base-content shadow rounded text-center">

    <h2 class="text-2xl font-bold mb-4">Logged Out</h2>
    <p>You have been logged out successfully.</p>

    <!-- Loader (invisible by default) -->
    <div id="loaderBox" class="flex flex-col items-center mt-6 invisible">
        <span class="loading loading-spinner loading-lg"></span>
        <p class="mt-3 text-base">Redirecting...</p>
    </div>

    <!-- Button -->
    <a id="loginBtn" href="{% url 'login' %}" class="btn btn-primary mt-4">
        Login Again
    </a>

</div>

<script>
    const btn = document.getElementById("loginBtn");
    const loader = document.getElementById("loaderBox");

    btn.addEventListener("click", () => {
        btn.classList.add("invisible");       // hide button
        loader.classList.remove("invisible"); // show loader
    });
</script>

{% endblock %}
